.booking-container {
  /* Remove display: grid; */
  gap: 20px;
}

.booking-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px; /* Add margin-bottom to create space between boxes */
}
